/* line 19, ../../scss/poker.scss */
* {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
}

/* line 26, ../../scss/poker.scss */
html {
  color: #2c3e50;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  height: 100%;
}

/* line 33, ../../scss/poker.scss */
body {
  height: 100%;
}

/* line 37, ../../scss/poker.scss */
div.container {
  background-color: #ecf0f1;
  z-index: 2;
  width: 100%;
  text-align: center;
  position: relative;
  min-height: 100%;
  display: table;
  table-layout: fixed;
}

/* line 50, ../../scss/poker.scss */
div.v-center {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

/* line 56, ../../scss/poker.scss */
div.h-center {
  margin: auto;
  width: 390px;
}
@media screen and (max-width: 700px) {
  /* line 56, ../../scss/poker.scss */
  div.h-center {
    width: 250px;
  }
}

/* line 65, ../../scss/poker.scss */
div.number {
  border: solid 5px #2c3e50;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
  display: inline-block;
  box-sizing: border-box;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 140px;
  width: 100px;
  margin: 10px;
  text-align: center;
  font-size: 40px;
}
@media screen and (max-width: 700px) {
  /* line 65, ../../scss/poker.scss */
  div.number {
    height: 75px;
    width: 50px;
    font-size: 22px;
  }
}
/* line 88, ../../scss/poker.scss */
div.number span {
  display: inline-block;
  vertical-align: middle;
  line-height: 130px;
}
@media screen and (max-width: 700px) {
  /* line 88, ../../scss/poker.scss */
  div.number span {
    line-height: 65px;
  }
}

/* line 99, ../../scss/poker.scss */
div.number.fixed-center {
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  font-weight: 800;
  height: 420px;
  width: 300px;
  margin-top: -210px;
  margin-left: -150px;
  font-size: 120px;
}
@media screen and (max-width: 700px) {
  /* line 99, ../../scss/poker.scss */
  div.number.fixed-center {
    height: 375px;
    width: 250px;
    margin-top: -187.5px;
    margin-left: -125px;
    margin-bottom: 0;
    margin-right: 0;
    font-size: 110px;
  }
}
/* line 125, ../../scss/poker.scss */
div.number.fixed-center span {
  line-height: 410px;
}
@media screen and (max-width: 700px) {
  /* line 125, ../../scss/poker.scss */
  div.number.fixed-center span {
    line-height: 365px;
  }
}

/* line 134, ../../scss/poker.scss */
.flipper {
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  opacity: 1;
}

/* line 139, ../../scss/poker.scss */
.flipper.ng-hide-add,
.flipper.ng-hide-remove {
  /* remember to add this */
  display: block !important;
}

/* line 145, ../../scss/poker.scss */
.flipper.ng-hide-remove {
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

/* line 149, ../../scss/poker.scss */
.flipper.ng-hide {
  -moz-transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  opacity: 0;
}

/* line 154, ../../scss/poker.scss */
#notification {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #F4D03F;
  text-align: center;
  padding: 5px 0;
}
/* line 166, ../../scss/poker.scss */
#notification i {
  vertical-align: text-bottom;
  margin-right: 5px;
}
/* line 172, ../../scss/poker.scss */
#notification a {
  color: #C52323;
  text-decoration: none !important;
}
/* line 176, ../../scss/poker.scss */
#notification a:visited {
  color: #C52323;
}

/* line 182, ../../scss/poker.scss */
.ng-hide {
  display: none;
}
