/* line 23, ../../scss/poker.scss */
* {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
}

/* line 30, ../../scss/poker.scss */
html {
  color: #2c3e50;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  height: 100%;
}

/* line 37, ../../scss/poker.scss */
body {
  height: 100%;
}

/* line 41, ../../scss/poker.scss */
div.container {
  background-color: #ecf0f1;
  z-index: 2;
  width: 100%;
  text-align: center;
  position: relative;
  min-height: 100%;
  display: table;
  table-layout: fixed;
}

/* line 54, ../../scss/poker.scss */
div.v-center {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

/* line 60, ../../scss/poker.scss */
div.h-center {
  margin: auto;
  width: 390px;
}
@media screen and (max-width: 700px) {
  /* line 60, ../../scss/poker.scss */
  div.h-center {
    width: 250px;
  }
}

/* line 69, ../../scss/poker.scss */
div.number {
  border: solid #2c3e50;
  border-width: 5px;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
  display: inline-block;
  box-sizing: border-box;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 140px;
  width: 100px;
  margin: 10px;
  text-align: center;
  font-size: 40px;
}
@media screen and (max-width: 700px) {
  /* line 69, ../../scss/poker.scss */
  div.number {
    border-width: 3px;
    height: 75px;
    width: 50px;
    font-size: 22px;
  }
}
/* line 95, ../../scss/poker.scss */
div.number span, div.number i {
  display: inline-block;
  vertical-align: middle;
  line-height: 130px;
}
@media screen and (max-width: 700px) {
  /* line 95, ../../scss/poker.scss */
  div.number span, div.number i {
    line-height: 69px;
  }
}
/* line 105, ../../scss/poker.scss */
div.number.ng-enter {
  -moz-transition: ease-out 0.5s;
  -o-transition: ease-out 0.5s;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  -moz-transform: translate3d(-100px, 0, 1em);
  -webkit-transform: translate3d(-100px, 0, 1em);
  transform: translate3d(-100px, 0, 1em);
  opacity: 0;
}
/* line 112, ../../scss/poker.scss */
div.number.ng-enter-active {
  -moz-transform: translate3d(0, 0, 1em);
  -webkit-transform: translate3d(0, 0, 1em);
  transform: translate3d(0, 0, 1em);
  opacity: 1;
}

/* line 118, ../../scss/poker.scss */
div.number.fixed-center {
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  font-weight: 700;
  height: 420px;
  width: 300px;
  margin-top: -210px;
  margin-left: -150px;
  font-size: 120px;
}
@media screen and (max-width: 700px) {
  /* line 118, ../../scss/poker.scss */
  div.number.fixed-center {
    height: 375px;
    width: 250px;
    margin-top: -187.5px;
    margin-left: -125px;
    margin-bottom: 0;
    margin-right: 0;
    font-size: 110px;
  }
}
/* line 144, ../../scss/poker.scss */
div.number.fixed-center span, div.number.fixed-center i {
  line-height: 410px;
}
@media screen and (max-width: 700px) {
  /* line 144, ../../scss/poker.scss */
  div.number.fixed-center span, div.number.fixed-center i {
    line-height: 369px;
  }
}

/* line 153, ../../scss/poker.scss */
.flipper {
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  opacity: 1;
}

/* line 158, ../../scss/poker.scss */
.flipper.ng-hide-add,
.flipper.ng-hide-remove {
  display: block !important;
}

/* line 163, ../../scss/poker.scss */
.flipper.ng-hide-remove {
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

/* line 167, ../../scss/poker.scss */
.flipper.ng-hide {
  -moz-transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  opacity: 0;
}

/* line 172, ../../scss/poker.scss */
#notification {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #F4D03F;
  text-align: center;
  padding: 5px 0;
}
/* line 184, ../../scss/poker.scss */
#notification i {
  vertical-align: text-bottom;
  margin-right: 5px;
}
/* line 190, ../../scss/poker.scss */
#notification a {
  color: #C52323;
  text-decoration: none !important;
}
/* line 194, ../../scss/poker.scss */
#notification a:visited {
  color: #C52323;
}

/* line 204, ../../scss/poker.scss */
ul.switcher {
  list-style: none;
  text-align: center;
  display: block;
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
}
/* line 213, ../../scss/poker.scss */
ul.switcher li {
  display: inline-block;
  margin-right: 10px;
}
/* line 218, ../../scss/poker.scss */
ul.switcher li:last-child {
  margin-right: 0;
}
/* line 222, ../../scss/poker.scss */
ul.switcher li a {
  color: #2c3e50;
  border: 3px solid #2c3e50;
  height: 30px;
  width: 30px;
  line-height: 30px;
  display: inline-block;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/* line 237, ../../scss/poker.scss */
ul.switcher li a.selected {
  color: #03A678;
  border-color: #03A678;
}
/* line 244, ../../scss/poker.scss */
ul.switcher.ng-hide-add, ul.switcher.ng-hide-remove {
  display: block !important;
}
/* line 249, ../../scss/poker.scss */
ul.switcher.ng-hide-add {
  -moz-transition: ease-in 0.35s;
  -o-transition: ease-in 0.35s;
  -webkit-transition: ease-in 0.35s;
  transition: ease-in 0.35s;
}
/* line 253, ../../scss/poker.scss */
ul.switcher.ng-hide-add.ng-hide-add-active {
  -moz-transform: translate3d(0, 56px, 0);
  -webkit-transform: translate3d(0, 56px, 0);
  transform: translate3d(0, 56px, 0);
}
/* line 257, ../../scss/poker.scss */
ul.switcher.ng-hide-remove {
  -moz-transition: ease-out 0.4s;
  -o-transition: ease-out 0.4s;
  -webkit-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  -moz-transform: translate3d(0, 56px, 0);
  -webkit-transform: translate3d(0, 56px, 0);
  transform: translate3d(0, 56px, 0);
}
/* line 262, ../../scss/poker.scss */
ul.switcher.ng-hide-remove-active {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 268, ../../scss/poker.scss */
.ng-hide {
  display: none;
}
