/* line 16, ../../scss/poker.scss */
* {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
}

/* line 23, ../../scss/poker.scss */
html {
  color: #2c3e50;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 100%;
}

/* line 31, ../../scss/poker.scss */
body {
  height: 100%;
}

/* line 35, ../../scss/poker.scss */
div.container {
  background-color: #ecf0f1;
  z-index: 2;
  width: 100%;
  text-align: center;
  position: relative;
  min-height: 100%;
  display: table;
  table-layout: fixed;
}

/* line 48, ../../scss/poker.scss */
div.v-center {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

/* line 54, ../../scss/poker.scss */
div.h-center {
  margin: auto;
  width: 390px;
}
@media screen and (max-width: 700px) {
  /* line 54, ../../scss/poker.scss */
  div.h-center {
    width: 250px;
  }
}

/* line 63, ../../scss/poker.scss */
div.number {
  border: solid 5px #2c3e50;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
  display: inline-block;
  box-sizing: border-box;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 125px;
  width: 100px;
  margin: 10px;
  text-align: center;
  font-size: 40px;
}
@media screen and (max-width: 700px) {
  /* line 63, ../../scss/poker.scss */
  div.number {
    height: 75px;
    width: 50px;
    font-size: 22px;
  }
}
/* line 86, ../../scss/poker.scss */
div.number span {
  display: inline-block;
  vertical-align: middle;
  line-height: 115px;
}
@media screen and (max-width: 700px) {
  /* line 86, ../../scss/poker.scss */
  div.number span {
    line-height: 65px;
  }
}

/* line 97, ../../scss/poker.scss */
div.number.fixed-center {
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  font-weight: 800;
  height: 375px;
  width: 300px;
  margin-top: -187.5px;
  margin-left: -150px;
  font-size: 100px;
}
@media screen and (max-width: 700px) {
  /* line 97, ../../scss/poker.scss */
  div.number.fixed-center {
    height: 300px;
    width: 200px;
    margin-top: -150px;
    margin-left: -100px;
    margin-bottom: 0px;
    margin-right: 0px;
    font-size: 90px;
  }
}
/* line 123, ../../scss/poker.scss */
div.number.fixed-center span {
  line-height: 365px;
}
@media screen and (max-width: 700px) {
  /* line 123, ../../scss/poker.scss */
  div.number.fixed-center span {
    line-height: 290px;
  }
}

/* line 132, ../../scss/poker.scss */
.flipper {
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  opacity: 1;
}

/* line 137, ../../scss/poker.scss */
.flipper.ng-hide-add,
.flipper.ng-hide-remove {
  /* remember to add this */
  display: block !important;
}

/* line 143, ../../scss/poker.scss */
.flipper.ng-hide-remove {
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

/* line 147, ../../scss/poker.scss */
.flipper.ng-hide {
  -moz-transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  opacity: 0;
}
